
<!doctype html>
<html lang="en" xmlns:th='http://www.thymeleaf.org/'>
<head>
    <meta charset="UTF-8">

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Oswald&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/view.css}">

    <title>Search</title>

</head>
<body>
<div class="page-container">

    <div id="top-nav" class="nav-bar">

        <div id="page-heading" class="nav-item">
            <h1 class="heading">page title</h1>
        </div>

    </div>

    <div class="section">
        <div id="book-container">
            <div id="cover-and-rating" class="column">
                <img id="book-cover" alt="book cover image">
            </div>
            <div id="book-details" class="column"></div>
            <div id="buttons" class="column">
                <div>
                    <button id="add-button">Add Book</button>
                </div>
            </div>
        </div>
        <div id="book-description"></div>
    </div>

    <div id="add-book-form-container">
        <form id="add-book-form" method="post" name="add-book-form">
            <label>Title:
                <input id="title">
            </label>
            <label>Author:
                <input id="author">
            </label>
            <label>ISBN:
                <input id="isbn">
            </label>
            <label>Pages:
                <input id="pages">
            </label>
            <label>Genre:
                <input id="genre">
            </label>
            <label>Status:
                <select id="status">
                    <option selected value="">Status</option>
                    <option value="Currently Reading">Currently Reading</option>
                    <option value="Want to Read">Want to Read</option>
                    <option value="Completed">Completed</option>
                </select>
            </label>
            <button type="submit">Add Book</button>
        </form>
    </div>

</div>
<script>
    let bookId = '[[${bookId}]]'
</script>
<script type="module" th:src="@{/script/search/view.js}" th:inline="javascript"></script>

</body>
</html>