<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:block th:replace="fragments :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/shelf.css}" />
    <script defer th:src="@{/js/delete.js}"></script>
</head>
<body style="background:white">

    <!-- User Navbar -->
    <header>
        <nav th:replace="fragments :: navigation-user"></nav>
    </header>

    <!-- Delete Book Form -->
    <div class="my-auto " style="position:relative; top:200px;">
        <div class="container">
            <form method="post" th:action="@{/user/delete}" id="deleteForm" class="me-auto">
                <div class="d-flex pt-5 navbar fixed-top bg-white border-bottom" style="margin-top:2rem; z-index:12;">
                        <ul class="nav my-4 p-2 mx-auto">
                            <li class="nav-item mx-1">
                                <a class="btn btn-outline-secondary" style="min-width:5rem;" th:href="@{/user/shelf}" role="button">
                                    <i class="bi bi-arrow-left"></i>
                                </a>
                            </li>
                            <li class="nav-item mx-1">
                                <button type="button" value="Delete" id="deleteButton" class="btn btn-danger" style="min-width:5rem;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Delete</button>
                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog modal-dialog-centered" style="margin-top:2rem; z-index:1;">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                Are you sure you want to remove the selected book(s)?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No way!</button>
                                                <button type="button" class="btn btn-danger" onclick="deleteBooks()">✌️</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                <div class="row row-cols-2 row-cols-xs-2 row-cols-md-3 row-cols-lg-5 my-5">
                    <div th:each="book : ${books}" class="cols-3 mx-auto">
                        <div class="card bg-transparent flex-lg-row mx-auto mb-5" >
                            <label class="container d-flex books">
                                <img th:src="${book.thumbnail}" class="mx-auto shadow-lg" z-index="1" margin-top="-2" width="135" height="200" alt="cover" th:field="${book.id}"/>
<!--                                <img th:src="@{${'https://www.syndetics.com/index.aspx?isbn='+book.isbn+'/LC.JPG'}}" class="mx-auto shadow-lg" z-index="1" margin-top="-2" width="135" height="200" alt="cover" th:field="${book.id}"/>-->
                                <input id="deleteCheckbox" type="checkbox" name="bookIds" th:value="${book.id}">
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Footer -->
    <section>
        <div th:insert="fragments :: footer"></div>
    </section>

</body>
</html>