<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:block th:replace="fragments :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/shelf.css}" />
    <script defer th:src="@{/js/shelf.js}"></script>
    <script defer th:src="@{/js/delete.js}"></script>
</head>
<body class="container">

<header><nav th:replace="fragments :: navigation-user"></nav></header>
<form id="deleteForm" method="POST">
    <div class="d-flex justify-content-center" style="position:relative; margin-top:10rem;">
        <input th:href="@{|/user/delete|}" type="" value="Delete" id="deleteButton" class="btn btn-lg btn-danger">
    </div>
      <div class="row row-cols-3 row-cols-xs-3 row-cols-md-4 row-cols-lg-5" style="position: relative; top: 125px">
         <div th:each="book : ${books}" class="cols-3" style="align: center">
            <div class="card bg-transparent flex-lg-row mx-auto mb-5">
               <label class="container d-flex books">
                     <img th:src="@{${'https://www.syndetics.com/index.aspx?isbn='+book.isbn+'0486832945&issn=/LC.JPG'}}" class="mx-auto book-shadow" z-index="1" margin-top="-2" width="135" height="200" alt="cover" th:field="${book.id}"/>
                     <input id="deleteCheckbox" type="checkbox" name="bookIds" th:value="${book.id}">
               </label>
            </div>
         </div>
      </div>
</form>

<script type="module" th:src="@{/delete.js}" th:inline="javascript"></script>

</body>
</html>