<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
   <th:block th:replace="fragments :: head"></th:block>
   <link rel="stylesheet" th:href="@{/css/shelf.css}" />
</head>
   <body style="background:white">

      <!-- User Navbar -->
      <header>
         <nav th:replace="fragments :: navigation-user"></nav>
      </header>

      <!-- Shelf Selector -->


<!--       Book Grid -->
      <div class="my-auto" style="position:relative; top:75px;">
         <div class="p-5 mb-4 rounded-3 container">
            <div class="container pb-5 border-bottom d-flex">
               <ul class="nav mx-auto align-items-center">
                  <li class="nav-item mx-1">
                     <form method="post" th:action="@{/user/shelf}" id="shelfForm" class="me-auto">
                        <div class="btn-group">
                           <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-bookshelf"></i> Shelf
                           </button>
                           <ul class="dropdown-menu">
                              <li><button type="submit" class="dropdown-item" name="status" value="Want to Read">Want to Read</button></li>
                              <li><button type="submit" class="dropdown-item" name="status" value="Currently Reading">Currently Reading</button></li>
                              <li><button type="submit" class="dropdown-item" name="status" value="Completed">Completed</button></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><button type="submit" class="dropdown-item" name="status" value="">All Books</button></li>
                           </ul>
                        </div>

                  </li>
                  <li class="nav-item mx-1">

                        <div class="btn-group">
                           <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-sort-alpha-down"></i> Order By
                           </button>
                           <ul class="dropdown-menu">
                              <li><button type="submit" class="dropdown-item" name="title" value="Title">Title</button></li>
                              <li><button type="submit" class="dropdown-item" name="author" value="Author">Author</button></li>
                              <li><button type="submit" class="dropdown-item" name="dateAdded" value="Author">Date Added</button></li>
                              <li><button type="submit" class="dropdown-item" name="recentlyViewed" value="Author">Recently Viewed</button></li>
                           </ul>
                        </div>

                  </li>
                  <li class="nav-item mx-1">
                     <form method="post" th:action="@{/user/shelf}" id="ratingForm" class="ms-auto">
                        <div class="btn-group">
                           <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="bi bi-star"></i> Rating
                           </button>
                           <ul class="dropdown-menu text-center">
                              <li><button type="submit" class="dropdown-item" name="rating" value="5"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></button></li>
                              <li><button type="submit" class="dropdown-item" name="rating" value="4"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></button></li>
                              <li><button type="submit" class="dropdown-item" name="rating" value="3"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></button></li>
                              <li><button type="submit" class="dropdown-item" name="rating" value="2"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></button></li>
                              <li><button type="submit" class="dropdown-item" name="rating" value="1"><i class="bi bi-star-fill"></i></button></li>
                           </ul>
                        </div>
                     </form>
                  </li>
               </ul>
            </div>
            <div th:replace="fragments :: bookshelf-grid"></div>

         </div>
      </div>

      <!-- Footer -->
      <section>
         <div th:replace="fragments :: footer"></div>
      </section>
   </body>
</html>