.main-bg {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url("/images/library.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}