body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
} .heading {
    font-family: Josefin Slab;
    margin: 0;
    letter-spacing: 1ex;
    color: white;
} .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: rgba(64,110,88,1);
    box-shadow: 0px 2px rgba(0,0,0,0.5);
    z-index: 5;
} .nav-item {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin: 0 5px;
} .nav-link {
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
} .nav-link:hover {
    box-shadow: inset 1px -1px 5px rgba(0,0,0,0.5);
} #page-heading {
    pointer-events: none;
}

.section {
    width: 100%;
    /* height: 450px; */
    margin: 100px 0 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
} #search-form {
    box-shadow: -2px 2px rgba(0,0,0,0.5), 2px -2px 5px rgba(0,0,0,0.2);
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* height: 200px; */
    padding: 20px;
} #search-field {
    margin: 10px;
} .form-text {
    font-family: Josefin Slab;
    font-size: 18px;
    /* letter-spacing: 0.5ex; */
} .form-button {
    font-family: Josefin Slab;
    font-size: 18px;
    letter-spacing: 1ex;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

#results {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
} .result {
    width: 250px;
    border: 1px solid red;
    /* box-shadow: -2px 2px rgba(0,0,0,0.5), 2px -2px 5px rgba(0,0,0,0.2); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    margin: 10px;
} .book {
    max-width: 100%;
    min-width: 60%;
    margin: 20px 0;
    display: flex;
    flex: 1;
    /* position: relative; */
    border: 1px solid blue;
} .book-info {
    width: 100%;
    /* height: 50%; */
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    font-family: Josefin Slab;
    text-align: center;
    border: 1px solid blue;
    /* box-shadow: -2px 2px rgba(0,0,0,0.5), 2px -2px 5px rgba(0,0,0,0.2); */
} .title {
    font-size: 24px;
    font-style: italic;
    padding: 0 15px;
}