<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:block th:replace="fragments :: head"></th:block>
    <link rel="stylesheet" th:href="@{/css/about.css}" />
</head>
<body>

<th:block sec:authorize="isAuthenticated()">
    <nav th:replace="fragments :: navigation-user"></nav>
</th:block>
<th:block sec:authorize="isAnonymous()">
    <nav th:replace="fragments :: navigation-guest"></nav>
</th:block>

<section id="div" class="p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between text-light" style="height:100vh;">
            <div class="col-md my-5" style="vertical-align: middle;">
                <h1 class="fs-4 my-3">We know just how hard it is to find time to read these days.</h1>
                <p>It's even more difficult to keep track of books you've read and those you want to read in the future. Here at Bookbase we want to help you rediscover the joy of reading by making your library easier to manage than ever before. </p>
                <span class="display-4"><h1 style="color:#6c63ff;" class="fw-light base my-3">BOOK<span class="fw-bold">BASE</span></h1></span><h4 class="my-2"> Your library in the digital age.</h4>
            </div>
            <div class="col-md p-4" style="vertical-align: middle;">
                <img th:src="@{/images/reading_time.svg}" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<section class="bg-light" style="padding:10rem;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md" style="vertical-align: middle;">
                <img th:src="@{/images/good_team.svg}" class="img-fluid" />
            </div>
            <div class="col-md text-center m-0">
                <h1 class="mx-auto" style="max-width:15rem;">meet the team</h1><a href="#team"><i class="bi bi-arrow-down display-4"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="p-5" id="team">
    <div class="container" style="margin-top:5rem; margin-bottom:5rem;">
        <div class="d-flex row col" style="vertical-align: middle; justify-content: center;">
            <div class="mt-4 col col-12 col-sm-12 col-md-12 col-xl-6">
                <div class="bg-dark text-light shadow-lg" style="border-radius:10rem;">
                    <div class="container p-5 row ms-0">
                        <div class="col-12 col-md-4 align-self-center text-center">
                            <img th:src="@{/images/ryan.svg}" class="img-fluid mb-3" style="max-height:200px;"/>
                        </div>
                        <div class="col-12 col-md-7" >
                            <h5 class="my-2 text-center">ryan mossor
                                <a href="https://www.linkedin.com/in/ryanmossor/" target="_blank" class="btn p-1"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/ryanmossor" target="_blank" class="btn p-1"><i
                                        class="bi bi-github"></i></a>
                            </h5>
                            <hr/>
                            <ul class="p-0" style="font-size:.85rem;">
                                <li class="d-flex"><p>Favorite Genre: Psychology/Self-Help</p></li>
                                <li class="d-flex">Currently Reading:&nbsp
                                    <th:block sec:authorize="isAuthenticated()">
                                        <a class="currently-reading" target="_blank"
                                           th:href="@{|/user/search/results/view/T8XTswEACAAJ|}">The Gulag Archipelago
                                        </a>
                                    </th:block>
                                    <th:block sec:authorize="isAnonymous()">
                                        <a class="currently-reading" target="_blank"
                                           href="https://amazon.com/dp/1784871516/">The Gulag Archipelago</a>
                                    </th:block>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 col col-12 col-sm-12 col-md-12 col-xl-6">
                <div class="bg-dark text-light shadow" style="border-radius:10rem;">
                    <div class="container p-5 row ms-0">
                        <div class="col-12 col-md-4 align-self-center text-center">
                            <img th:src="@{/images/raleigh.svg}" class="img-fluid mb-3" style="max-height:200px;"/>
                        </div>
                        <div class="col-12 col-md-7" >
                            <h5 class="my-2 text-center">raleigh moore
                                <a href="https://www.linkedin.com/in/raleigh-ct-moore/" target="_blank"
                                   class="btn p-1"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/raleigh-ct" target="_blank" class="btn p-1"><i
                                        class="bi bi-github"></i></a>
                            </h5>
                            <hr/>
                            <ul class="p-0 bio" style="font-size:.85rem;">
                                <li class="d-flex"><p>Favorite Genre: Mystery</p></li>
                                <li class="d-flex">Currently Reading:&nbsp
                                    <th:block sec:authorize="isAuthenticated()">
                                        <a class="currently-reading" target="_blank"
                                           th:href="@{|/user/search/results/view/GrYsEAAAQBAJ|}">Project Hail Mary</a>
                                    </th:block>
                                    <th:block sec:authorize="isAnonymous()">
                                        <a class="currently-reading" target="_blank"
                                           href="https://amazon.com/dp/0593135202/">Project Hail Mary</a>
                                    </th:block>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 col col-12 col-sm-12 col-md-12 col-xl-6">
                <div class="bg-dark text-light shadow" style="border-radius:10rem;">
                    <div class="container p-5 row ms-0">
                        <div class="col-12 col-md-4 align-self-center text-center">
                            <img th:src="@{/images/scott.svg}" class="img-fluid mb-3" style="max-height:200px;"/>
                        </div>
                        <div class="col-12 col-md-7" >
                            <h5 class="my-2 text-center">scott mcdonald
                                <a href="https://www.linkedin.com/in/scott-mcdonald-0303/" target="_blank"
                                   class="btn p-1"><i class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/scottmcdonald1" target="_blank" class="btn p-1"><i
                                        class="bi bi-github"></i></a>
                            </h5>
                            <hr/>
                            <ul class="p-0" style="font-size:.85rem;">
                                <li class="d-flex"><p>Favorite Genre: Fantasy</p></li>
                                <li class="d-flex">Currently Reading:&nbsp
                                    <th:block sec:authorize="isAuthenticated()">
                                        <a class="currently-reading" target="_blank"
                                           th:href="@{|/user/search/results/view/ft2NDAAAQBAJ|}">Norse Mythology</a>
                                    </th:block>
                                    <th:block sec:authorize="isAnonymous()">
                                        <a class="currently-reading" target="_blank"
                                           href="https://amazon.com/dp/0393356183/">Norse Mythology</a>
                                    </th:block>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 col col-12 col-sm-12 col-md-12 col-xl-6">
                <div class="bg-dark text-light shadow" style="border-radius:10rem;">
                    <div class="container p-5 row ms-0">
                        <div class="col-12 col-md-4 align-self-center text-center">
                            <img th:src="@{/images/skyler.svg}" class="img-fluid mb-3" style="max-height:200px;"/>
                        </div>
                        <div class="col-12 col-md-7" >
                            <h5 class="my-2 text-center">skyler hogan
                                <a href="https://www.linkedin.com/in/skylerhogan/" target="_blank" class="btn p-1"><i
                                        class="bi bi-linkedin"></i></a>
                                <a href="https://github.com/skylerhogan" target="_blank" class="btn p-1"><i
                                        class="bi bi-github"></i></a>
                            </h5>
                            <hr/>
                            <ul class="p-0" style="font-size:.85rem;">
                                <li class="d-flex"><p>Favorite Genre: History</p></li>
                                <li class="d-flex">Currently Reading:&nbsp
                                    <th:block sec:authorize="isAuthenticated()">
                                        <a class="currently-reading" target="_blank"
                                           th:href="@{|/user/search/results/view/S7jrDwAAQBAJ|}">Klara and the Sun</a>
                                    </th:block>
                                    <th:block sec:authorize="isAnonymous()">
                                        <a class="currently-reading" target="_blank"
                                           href="https://amazon.com/dp/059331817X/">Klara and the Sun</a>
                                    </th:block>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<th:block sec:authorize="isAuthenticated()">
    <nav th:replace="fragments :: footer-user"></nav>
</th:block>
<th:block sec:authorize="isAnonymous()">
    <nav th:replace="fragments :: footer-guest"></nav>
</th:block>

</body>
</html>