<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
  <th:block th:fragment="head">
      <meta charset="UTF-8" />
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<!--      <link rel="stylesheet" th:href="@{/styles.css}" />-->
<!--      <link rel="stylesheet" th:href="@{/shelf.css}" />-->
<!--      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
      <title>Library App</title>
  </th:block>
  <body>

<!-- Navbar(guest) -->
<nav th:fragment="navigation-guest" class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand me-2" href="#">Library App</a>
      <div class="d-flex">
        <ul class="navbar-nav px-3 me-2">
          <li class="nav-item">
            <a href="#" class="nav-link" style="color: #0d6efd">Register</a>
          </li>
        </ul>
        <button type="button" class="btn btn-primary">Log In</button>
      </div>
  </div>
</nav>

    <!-- Navbar(logged-in user pages) -->
    <nav
      th:fragment="navigation-user" class="navbar fixed-top navbar-expand-lg navbar-light bg-light" style="margin-bottom:125px">
      <div class="container-fluid">
        <a class="navbar-brand me-2" id="logo" href="http://localhost:8080">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-exclude" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm12 2H5a1 1 0 0 0-1 1v7h7a1 1 0 0 0 1-1V4z"/>
          </svg>library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse ms-auto" id="navbarText">
          <ul class="navbar-nav ms-auto align-items-end">

            <!--nav search bar-->

            <li class="nav-item mx-1 nav-search">
              <form method="POST" th:action="@{search/}" class="nav-link">
                <input class="form-control" name="searchQuery" type="search" placeholder="Title / Author / ISBN" aria-label="Search" />
                <input class="form-control" name="searchParameter" type="hidden" value="all" aria-label="Search" />
              </form>
            </li>

            <!--bookshelf nav button-->

           <li th:unless="${#httpServletRequest.requestURI == '/user/shelf'}" class="nav-item-btn">
              <a href="http://localhost:8080/user/shelf" class="nav-link icon-btn my-2" style="currentColor">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" stroke="currentColor" stroke-width="5%" class="bi bi-bookshelf" viewBox="0 0 16 16">
                  <path d="M2.5 0a.5.5 0 0 1 .5.5V2h10V.5a.5.5 0 0 1 1 0v15a.5.5 0 0 1-1 0V15H3v.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zM3 14h10v-3H3v3zm0-4h10V7H3v3zm0-4h10V3H3v3z"/>
                </svg
              ></a>
            </li>

            <!--add book nav button-->

            <li th:unless="${#httpServletRequest.requestURI == '/user/add'}" class="nav-item-btn">
              <a href="http://localhost:8080/user/add" class="nav-link icon-btn my-2" aria-current="page" style="color: #20c997">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                </svg>
              </a>
            </li>

            <!-- edit shelf nav button-->
            <li th:if="${#httpServletRequest.requestURI == '/user/shelf'}" class="nav-item-btn">
              <a th:href="@{|/user/delete|}" class="nav-link icon-btn my-2" aria-current="page" style="color: #ffc107";>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                </svg>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>


<!--bookshelf grid-->

    <div th:fragment="bookshelf-grid">
      <div class="row row-cols-3 row-cols-xs-3 row-cols-md-4 row-cols-lg-5" style="position: relative; top: 125px">
        <div th:each="book : ${books}" class="cols-3">
          <div class="card bg-transparent flex-lg-row mx-auto mb-5">
            <a th:if="${#httpServletRequest.requestURI == '/user/shelf'}" th:href="@{|/user/view/${book.id}|}" class="container d-flex">
              <img th:src="@{${'https://www.syndetics.com/index.aspx?isbn='+book.isbn+'0486832945&issn=/LC.JPG'}}" onmouseover="this.style.opacity='50%'" onmouseout="this.style.opacity='100%'" class="mx-auto bookcover" z-index="1" margin-top="-2" width="135" height="200" alt="cover"/>
            </a>
          </div>
        </div>
      </div>
    </div>


<!--form to manually add books to database-->
<div th:fragment="add-book" class="card mx-auto bg-dark card-shadow" style="width: 26rem; height: 22rem; margin-top:15rem;">
  <div class="card-body">
    <form method="post" class="row gy-2 gx-3 align-items-center">
      <div class="col-auto mt-3" style="width: 100%;">
        <label class="visually-hidden" th:for="title">Title</label>
        <div class="input-group">
          <div class="input-group-text">Title</div>
          <input th:field="${book.title}" type="text" class="form-control" id="title" placeholder="Dune" required>
        </div>
      </div>
      <div class="col-auto" style="width: 100%;">
        <label class="visually-hidden" th:for="author">Author</label>
        <div class="input-group">
          <div class="input-group-text">Author</div>
          <input th:field="${book.author}" type="text" class="form-control" id="author" placeholder="Frank Herbert" required>
        </div>
      </div>
      <div class="col-auto" style="width: 60%;">
        <label class="visually-hidden" th:for="isbn">ISBN</label>
        <div class="input-group">
          <div class="input-group-text">ISBN</div>
          <input th:field="${book.isbn}" type="text" class="form-control" id="isbn" placeholder="978-0441013593" required>
        </div>
      </div>
      <div class="col-auto" style="width: 40%;">
        <label class="visually-hidden" th:for="pages">Pages</label>
        <div class="input-group">
          <div class="input-group-text">Pages</div>
          <input th:field="${book.pages}" type="text" class="form-control" id="pages" placeholder="896" required>
        </div>
      </div>
      <div class="col-auto">
        <label class="visually-hidden" th:for="genre">Genre</label>
        <select th:field="*{book.genre}" class="form-select" id="genre" required>
          <option selected value="">Genre</option>
          <option value="Memoir">Memoir</option>
          <option value="Biography">Biography</option>
          <option value="Self-Help">Self-Help</option>
          <option value="Religion and Spirituality">Religion and Spirituality</option>
          <option value="Health and Fitness">Health and Fitness</option>
          <option value="Politics and Social Sciences">Politics and Social Sciences</option>
          <option value="Business and Money">Business and Money</option>
          <option value="Tech">Tech</option>
          <option value="Sci-Fi and Fantasy">Sci-Fi and Fantasy</option>
          <option value="Mystery, Thriller, and Suspense">Mystery, Thriller, and Suspense</option>
          <option value="Romance">Romance</option>
          <option value="Fiction (General)">Fiction (General)</option>
          <option value="Non-Fiction (Other)">Non-Fiction (Other)</option>
        </select>
      </div>
      <div class="col-auto">
        <label class="visually-hidden" th:for="status">Status</label>
        <select th:field="${book.status}" class="form-select status-selector" id="status" required>
          <option selected value="">Shelf</option>
          <option value="Want to Read">Want to Read</option>
          <option value="Currently Reading">Currently Reading</option>
          <option id="completed" value="Completed">Completed</option>
        </select>
      </div>
      <div>
        <div class="rating mt-2 mb-1" id="starRating"> <input th:field="${book.rating}" type="radio" name="rating" value="5" id="5"><label th:for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label th:for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label th:for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label th:for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label th:for="1">☆</label><input type="radio" name="rating" value="" checked="checked"></div>
      </div>
      <div class="col-auto mx-auto">
        <button type="submit" class="btn btn-primary btn-lg card-shadow">Add Book</button>
      </div>
    </form>
  </div>
</div>
<script type="module" th:src="@{/delete.js}" th:inline="javascript"></script>

  </body>
</html>
