<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:replace="fragments :: head"></th:block>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/homepage.css}" />
<!--    <script defer th:src="@{/js/bestsellers.js}"></script>-->
</head>

<body>

<!-- Navbar -->
<nav th:replace="fragments :: navigation-user"></nav>

<!-- Header/showcase -->
<header class="main-bg vh-75 pb-5" style="padding-top:120px;">
    <div class="container">
        <div class="row align-items-stretch g-5">
            <div class="col-lg-6">
                <div class="card bg-light text-dark d-xl-grid h-100">
                    <div class="card-body">
                        <p class="lead fw-normal pt-3 ps-4" th:text="${'Welcome back, ' + name + '!'}"></p>
                        <div th:each="list : ${recentBooks}" th:if="${!list.isEmpty()}">
                                <p class="lead ps-4 pb-3">Pick up where you left off:</p>
                                <div class="row row-cols-2 my-2">
                                    <div class="cols-3 d-flex justify-content-start"
                                         th:each="book,iterStat : ${list}"
                                         th:classappend="${list.size() == 1 ? 'mx-auto' : ''}">
                                        <div th:if="${iterStat.index < 4 && iterStat.index != null}"
                                             class="card bg-transparent flex-lg-row mx-auto mb-5">
                                            <a th:href="@{|/user/view/${book.id}|}">
                                                <img th:src="@{${'https://www.syndetics.com/index.aspx?isbn='+book.isbn+'/LC.JPG'}}" onmouseover="this.style.opacity='50%'" onmouseout="this.style.opacity='100%'" class="mx-auto bookcover shadow-lg" z-index="1" margin-top="-2" width="135" height="200" alt="cover"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card bg-light text-dark d-xl-grid h-100">
                    <div class="card-body">
                        <p class="lead fw-normal pt-3 ps-4">Browse current bestsellers by genre:</p>
                        <label class="visually-hidden" th:for="genre">Genre</label>
                        <form action="POST" th:action="@{/home}" class="px-5">
                            <div class="input-group">
                                <select class="form-select" name="genre" id="genre" required>
                                    <option selected value="">Genre</option>
                                    <option value="advice-how-to-and-miscellaneous">Advice, How-To & Miscellaneous</option>
                                    <option value="business-books">Business</option>
                                    <option value="childrens-middle-grade-hardcover">Children's Middle Grade</option>
                                    <option value="picture-books">Children’s Picture Books</option>
                                    <option value="series-books">Children’s Series</option>
                                    <option value="combined-print-and-e-book-fiction">Fiction</option>
                                    <option value="graphic-books-and-manga">Graphic Books and Manga</option>
                                    <option value="mass-market-monthly">Mass Market</option>
                                    <option value="combined-print-and-e-book-nonfiction">Nonfiction</option>
                                    <option value="young-adult-hardcover">Young Adult</option>
                                </select>
                                <button type="submit" class="btn btn-primary">View Bestsellers</button>
                            </div>
                        </form>

                        <div class="">
                            <p class="lead text-dark" th:if="${genre}" th:text="${genre}" th:classappend="${genre}"></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Carousel -->
<section id="carousel" class="bg-light p-5 d-none d-lg-block">
    <div class="container">
        <p class="fw-normal lead text-dark pb-4">Looking for something new to read? Browse these
            bestsellers:</p>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner"></div>
        </div>
    </div>
</section>

<!-- Register -->
<section class="bg-dark p-5">
    <div class="container">
        <div class="row align-items-center justify-content-between text-light">
            <div class="col-md">
                <img id="reader-img" th:src="@{/images/book_lover.svg}" class="img-fluid" />
            </div>
            <div class="col-md p-5 text-center my-3">
                <h2>Want to manage your own library?</h2>
                <p class="lead my-3">Register for a free account today to get started.</p>
                <a href="/registration" class="btn btn-primary my-3 px-4 py-2">Create account</a>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<section>
    <div th:replace="fragments :: footer"></div>
</section>

</body>

</html>