<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head"></th:block>
</head>
<body>

<style>
    body {
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url("/images/library.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
	}
</style>

<nav th:replace="fragments :: navigation-guest"></nav>

<div class="container d-flex align-items-center justify-content-center" style="height:100vh;">
    <div class="col" style="max-width:620px;">
        <div class="card bg-light text-dark">
            <div class="card-body">
                <p class="lead fw-normal pt-3 text-start ps-4"><span class="fw-bold">Log in</span> to continue to your
                    library:</p>
                <form th:action="@{/login}" method="post" class="px-4">
                    <div th:if="${param.error}" class="alert alert-danger p-2 mb-4 mx-4 fw-bold text-center">
                        <i class="bi bi-exclamation-circle-fill fs-4 pe-2" style="vertical-align: sub;"></i> Invalid
                        email address or password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success p-2 mb-4 mx-4 fw-bold text-center">
                        <i class="bi bi-check-circle-fill fs-4 pe-2" style="vertical-align: sub;"></i> You have
                        been logged out.
                    </div>
                    <div class="form-floating mb-3">
                        <input name="email" type="email" id="email" class="form-control" placeholder="Email Address"/>
                        <label for="email" style="color:grey;">Email Address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input name="password" type="password" id="password" class="form-control"
                               placeholder="Password">
                        <label for="password" style="color:grey;">Password</label>
                    </div>
                    <div>
                        <a class="my-3 float-start" href="#" style="text-decoration:none;">Forgot
                            password?</a>
                        <button type="submit" class="btn btn-primary w-25 my-3 float-end">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>