<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header>
   <nav th:replace="fragments :: navigation-user"></nav>
</header>
<body>
<div class="card mx-auto" style="width: 30rem;">
   <a th:href="@{|/user/shelf|}">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="grey" class="bi bi-x-square-fill shadow" id="btn-view-delete-corner" viewBox="0 0 16 16">
         <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
      </svg>
   </a>
</div>
   <div class="card mx-auto card-shadow" style="width: 30rem; height: 25rem; top: 30%; background-color:whitesmoke;">
      <div class="card-body">
         <div class="row align-items-start">
            <h4 th:text="${book.title}" class="text-primary mb-3"></h4>
            <div class="col">

               <h6 th:text="${'by ' + book.author}" class="text-dark mb-3"></h6>
               <ul class="list-unstyled">
                  <li><p th:text="${book.genre}" class="text-secondary small"></p></li>
                  <li><p th:text="${book.pages + ' pages'}" id="viewPages" class="text-secondary small"></p></li>
                  <li><p th:text="${'ISBN: ' + book.isbn}" class="text-secondary small"></p></li>
                  <li><p th:text="${book.status}" class="text-secondary small"><div th:if="${book.status} == 'Completed'" class="rating"> <input th:field="${book.rating}" type="radio" name="rating" value="5" id="5" required><label th:for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label th:for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label th:for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label th:for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label th:for="1">☆</label> </div></p></li>
               </ul>
            </div>
            <div class="col">
               <img class="bookcover d-flex mx-auto" th:src="@{${'https://www.syndetics.com/index.aspx?isbn='+book.isbn+'0486832945&issn=/LC.JPG'}}" width="70%" alt="cover">
            </div>
         </div>
      </div>
      <div class="card-footer">
         <small class="text-muted" th:text="${'Date Added: ' + book.date}"></small>
      </div>
   </div>
<script type="text/javascript">
   let pages = [[${book.pages}]];
   document.getElementById("viewPages").addEventListener("click", function test() {
   prompt("", pages);
   });
</script>
</body>
</html>